# Ignore local secret files
secrets/

# Python
__pycache__/
.venv/
*.pyc

# Railway files
.railway/
__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
dist/
build/
*.log
*.db
.venv/
venv/
.env.local